<div class="center jumbotron">
<h1>JEAH BOI</h1>
<p>
	This is dlen's new chillspot. Peep this <a href="http://www.railstutorial.org/"> here</a>.
</p>
<br>
<p>
	<%= link_to "Sign up, bros.", signup_path, class: "btn btn-lg btn-primary" %>
</p>
</div>
<br>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/', :target => "_blank" %>
