<footer class="footer">
	<small>
		
		PEEP MY STEEZ: <a href="https://www.linkedin.com/profile/view?id=AAMAAAzChIYB0ilgcdmIVv4CfKazgOaUgjNo04Q&trk=hp-identity-name" target="_blank">STEEZASAURUS REX</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "ABOUT", about_path %> </li>
			<li><%= link_to "CONTACT", contact_path %> </li>
		</ul>
	</nav>
</footer>


